<input id="input-email" type="text" placeholder="Email">
<input id="input-username" type="text" placeholder="Username">
<input id="input-password" type="password" placeholder="Password">
<a href="#/processRegistration">Register</a>
