<h1>Submit your question</h1>
<input class="form-control" id="question-title" type="text" placeholder="Title" title="Submit your question title here!">
<textarea class="form-control" rows="3" id="question-body" placeholder="Question"></textarea>

<input type="radio" id="javascript-radio" name="category">
<label for="javascript-radio">Javascript</label>
<input type="radio" id="c-sharp-radio" name="category">
<label for="c-sharp-radio">C#</label>

<a href="#/processSubmitQuestion" class="btn btn-success">Submit Question</a>
